:root {
    --color-shadow-small: 0 1px 0 rgba(27,31,36,0.04);
    --padding : 3px 0px 0px 3px; /*T R B L*/
    --p-24-px : 24px !important;
}

.input-container{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #0c162d;
    border: 1px solid #202637;
    box-shadow: var(--color-shadow-small) !important;
    border-radius: 6px !important;
    box-sizing: border-box;
    padding: var(--p-24-px);
}
.input-text-heading-wrapper{
    display: block;
    width: 100%;
    padding: var(--padding);
}
.input-text{
    color: #627597;
    overflow: hidden;
    line-height: 1.5;
    margin: 0 auto;
    word-wrap: break-word;
    white-space: nowrap;
    display: inline-block;
    position: relative;
}
.input-label-value-wrapper{
    display: block;
    width: 100%;
    position: relative;
    padding: var(--padding);
    padding-top: var(--p-24-px);
}

.input-cursor{
    display: inline-block;
    border-bottom: 2px #627597 solid;
    width: 12px;
    height: 100%;
    animation: blink-cursor .5s step-end infinite;
}

.input-label-text{
    color: #00cfc8;
}
.input-icon {
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.inout-fa-arrow-right-icon{
    color : #ea4aaa;
}
.inout-fa-check-icon{
    color : #2da44e;
}
.inout-fa-xmark-icon{
    color : #fa4549;
}
.input-area{
    background: transparent;
    background-color: #0c162d;
    -webkit-text-fill-color: #fff;
    box-shadow: none !important;
    border-radius: 6px !important;
    border: 0 !important;
    display: block;
    position: relative;
    width: 70%;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    padding-left: 6px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    caret-color: #fff;
} 

.input-area:focus-visible{
    border: 1px solid #0969da !important;
}
.continue-button{
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    padding: 5px 12px;
    line-height: 20px;
    vertical-align: middle;
    padding-right: 16px !important;
    padding-left: 16px !important;
    cursor: pointer;
    /*
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color,background-color,box-shadow,border-color;
    */
}
.submit-button{
    width: auto;
    height: auto;
    border-radius: 6px;
    padding: 5px 12px;
    line-height: 20px;
    vertical-align: middle;
    padding-right: 16px !important;
    padding-left: 16px !important;
    cursor: pointer;
    color: #2da44e;
    background: none;
    border: 1px solid #2da44e;
}
.continue-button-disabled{
    color: #627597;
    background: none;
    border: 1px solid #627597;
}
.continue-button-enabled{
    color: #2da44e ;
    background: none;
    border: 1px solid #2da44e;
}