:root {
    --color-shadow-small: 0 1px 0 rgba(27,31,36,0.04);
    --padding : 3px 0px 0px 3px; /*T R B L*/
    --p-24-px : 24px !important;
}

.input-container{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #0c162d;
    border: 1px solid #202637;
    box-shadow: var(--color-shadow-small) !important;
    border-radius: 6px !important;
    box-sizing: border-box;
    padding: var(--p-24-px);
}
.input-text-heading-wrapper{
    display: block;
    width: 100%;
    padding: var(--padding);
}
.input-text{
    color: #627597;
    overflow: hidden;
    line-height: 1.5;
    margin: 0 auto;
    word-wrap: break-word;
    white-space: nowrap;
    display: inline-block;
    position: relative;
}
.input-label-value-wrapper{
    display: block;
    width: 100%;
    position: relative;
    padding: var(--padding);
    padding-top: var(--p-24-px);
}

.input-cursor{
    display: inline-block;
    border-bottom: 2px #627597 solid;
    width: 12px;
    height: 100%;
    animation: blink-cursor .5s step-end infinite;
}

.input-label-text{
    color: #00cfc8;
}
.input-icon {
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.error-inout-icon{
    color : #ea4aaa;
    
}
.input-area{
    background: transparent;
    background-color: #0c162d;
    -webkit-text-fill-color: #fff;
    box-shadow: none !important;
    border-radius: 0 !important;
    border: 0 !important;
    display: block;
    position: relative;
    width: 70%;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    padding-left: 6px
} 

.input-area:focus-visible{
    border: 1px solid #0969da !important;
}
.email-input{

}