:root {
    --color-shadow-small: 0 1px 0 rgba(27,31,36,0.04);
    --color-fg-default: #24292f;
}
@keyframes typing {
    from { width: 0 }
    to { width: 35% }
  }
  @keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: #627597 }
  }
.input-container{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #0c162d;
    border: 1px solid #202637;
    box-shadow: var(--color-shadow-small) !important;
    border-radius: 6px !important;
    box-sizing: border-box;
}
.input-title-text-wrapper{
    display: block;
    width: 100%;
    height: 14%;
    padding-left: 1%;
}
.input-text{
    color: #627597;
    overflow: hidden;
    line-height: 1.5;
    letter-spacing: .15em;
    margin: 0 auto;
    word-wrap: break-word;
    white-space: nowrap;
    animation: typing 2s steps(20) forwards;
    display: inline-block;
    position: relative;
}
.input-cursor{
    display: inline-block;
    border-bottom: 2px #627597 solid;
    width: 12px;
    height: 100%;
    animation: blink-cursor .5s step-end infinite;
}
.input-title-text{

}
.input-sub-text{

}
.input-question-text{

}
.input-answer-box{

}