<div class="personal-space-wrapper">
    <div  *ngIf="credConfig.isdisplay" (click) = "gotoSavveNewCredentials()"  class="views-container goto-create-view">
        Save New Credentials
    </div>
 <div *ngIf="credConfig.isdisplay" class="display-wrapper-view">
        <div class="windows-wrapper-view" *ngFor="let typeConfig of listOfCreds;">
            <app-view [credentialsData] = typeConfig ></app-view>
        </div>
        
    </div> 
    
    <div *ngIf="credConfig.isinput" class="input-wrapper-view">
        <app-p-input [inputComponentDataI] = inputComponentData ></app-p-input>
  </div> 
</div>