.personal-space-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.windows-wrapper{
    height: 50%;
    min-width: 30%;
    margin-left: 1.5%;
} 
.windows-wrapper-view{
    min-width: 80%;
margin-top: 1.5%;
}  
.display-wrapper{
    margin-top: 10%;
    position: relative;
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
}
.display-wrapper-view{
    margin-top: 5%;
    position: relative;
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
}
.input-wrapper-view{
    margin-top: 10%;
    position: relative;
    width: 50%;
    height: 80%;
}