.particles-bg-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex !important;
    overflow: hidden !important;
    flex: auto !important;
    flex-direction: column !important;
    background-color: #040d21;
    z-index: -2 !important;
    align-items: center;
    justify-content: center;
}
.rocket-gif{
    height: 300px;
    width: 300px;
}
.home-hero-glow {
    top: 50%;
    left: 50%;
    width: 200%;
    transform: translate(-50%, -50%);
}
.events-none {
    pointer-events: none;
}
.overflow-hidden {
    overflow: hidden !important;
}
img {
    border-style: none;
}
.position-absolute {
    position: absolute !important;
}